
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]


.env
.env.local
.env.development
.env.production


*.sqlite3
*.sqlite3-shm
*.sqlite3-wal


.idea/
.vscode/


node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*


build/
dist/


.DS_Store
Thumbs.db


*.log
logs/
